# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/build
JLinkLog.txt
rtthread.bin
/.vscode
EventRecorderStub.scvd
packages/sgp30-latest/
/res/芯片手册/E-Paper_code
/board/CubeMX_Config/Drivers/CMSIS
/board/CubeMX_Config/Drivers/STM32F1xx_HAL_Driver
/board/CubeMX_Config/MDK-ARM
board/CubeMX_Config/Src/main.c
.vscode/keil-assistant.log
/rt-thread/tools
*.pyc
/.vscode
/.vscode
examples
demos
/.venv
/res/font/LvglFontTool_V0.5测试版/LvglFontTool
res/frame_*
/rt-thread/tools
packages/pkgs.json
packages/sht3x-latest/
packages/tz-database-latest/
packages/zlib-latest/
DebugConfig/rt-thread_STM32F103RG_1.0.0.dbgconf
/packages/LVGL-v9.1.0
packages/at_device-latest/
packages/mem_sandbox-latest/
packages/optparse-latest/
packages/vi-latest/
data_seq.txt
received_data.txt
*.log
/packages
